
.jumbotron{
    background-image: url("http://lorempixel.com/output/abstract-q-c-1920-1080-2.jpg");
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 360px;
    color: white;
    
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.navbar-default{
    margin: 0px;
}
footer{
    width: 100%;
    padding: 10px;
    background-color: #42a788;
    color:#fff;
    
    
}
footer a{
    color: #fff;
    text-decoration: none;

}
footer a:hover{
    color: #ddd;
    text-decoration: none;
}
.glyphicon-proamala{
    height: 20px;
    padding-bottom: 5px;
}

